<?xml version="1.0" encoding="ISO-8859-1"?>
<launch>
  
  <node name="nodelet_manager" pkg="nodelet" type="nodelet" 
      args="manager" output="screen" />

  <node name="screen_grab" pkg="nodelet" type="nodelet"
      args="load screen_grab/ScreenGrab nodelet_manager" output="screen" >
    <param name="update_rate" value="30" />
    <param name="x_offset" value="50" />
    <param name="y_offset" value="50" />
    <param name="width" value="500" />
    <param name="height" value="500" />
  </node>

</launch>
